

h3{
	font-family: "messsiri";
	font-size: 6.85rem;
	font-weight: 300;

}
h1{
	font-family: "lobster1";
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
	line-height: 1.2;
	color: #0a2642;
	font-weight: 700;
}
#banner{
	background: linear-gradient(to bottom, 
		rgba(156,148,153,.7)0,
		rgba(156,148,153,.7)100%),
	url(images/foodevent.jpg);
	width: 100%;
	height: 100vh;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;

}


}
.navbar-brand{
	font-family: "lobster1"; 
	
}



/*Nav Bar*/
#mainNav {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  background-color: #87877c;
  transition: background-color 0.2s ease;
  font-family: "messsiri";
}
#mainNav .navbar-nav .nav-item .nav-link:hover, #mainNav .navbar-nav .nav-item .nav-link:active {
  color: #f4623a;
}

#headertitle{
	margin-top: 4rem;
	color: #f4623a;
	
}
#divider{
	max-width: 15.25em;
	border-width: 0.2rem;
	border-color: #eeff33;

}
#headermain{
	padding: 1.25rem 2.25rem;
	font-size: 0.85rem;
	font-weight: 700;
	text-transform: uppercase;
	border:none;
	border-radius: 10rem;
	background-color: #f4623a;

}

/*index popular menu*/
.blog .carousel-indicators {
	left: 0;
	top: auto;
    bottom: -40px;

}


.blog .carousel-indicators li {
    background: #a3a3a3;
    border-radius: 50%;
    width: 8px;
    height: 4px;
}

.blog .carousel-indicators .active {
background: #707070;
}
#image-hover:hover{
	border-color: rgba(223, 31, 31, 1);
	color: rgba(0,51,153,1);
	background-color: #CCFF00;

}

/*countdown timer*/
.container1 li {
  display: inline-block;
  font-size: 1.5em;
  list-style-type: none;
  padding: 1em;
  text-transform: uppercase;
}

.container1 li span {
  display: block;
  font-size: 4.5rem;
}
.container1 {
  color: #333;
  margin: 0 auto;
  padding: 0.5rem;
  text-align: center;
}

.bg-gradient-1 {
    background: #7f7fd5;
    background: -webkit-linear-gradient(to right, #7f7fd5, #86a8e7, #91eae4);
    background: linear-gradient(to right, #7f7fd5, #86a8e7, #91eae4);
}
.rounded {
    border-radius: 1rem !important;
}

/*countdown timer*/


/*Button */
#event-btn{
	padding: 0.25rem 2rem;
	font-size: 1rem;
	font-weight: 200;
	border:none;
	border-radius: 5rem;
	background-color: #f4623a;

}






/*MENU*/
.section-title p {
	font-size: 24px;
	font-family: Oleo Script;
	margin-bottom: 0px;
	margin-top:50px;
}
.section-title h4 {
	font-size: 40px;
	text-transform: capitalize;
	color: #FF5E18;
	position: relative;
	display: inline-block;
	padding-bottom: 25px;
}
.section-title h4::before {
	width: 80px;
	height: 1.5px;
	bottom: 0;
	left: 50%;
	margin-left: -40px;
}
.section-title h4::before, .section-title h4::after {
	position: absolute;
	content: "";
	background-color: #FF5E18;
}
.single_menu_list img {
	max-width: 30%;
	position: absolute;
	left: 0px;
	top: 0;
	border: 1px solid #ddd;
	padding: 3px;
	border-radius: 50%;
	transition: .4s;
}
.menu_style1 .single_menu_list img {
	position: static;
	width: 100%;
	display: block;
	margin: 0 auto;
	margin-bottom: 45px;
}
.single_menu_list h4 {
	font-size: 20px;
	border-bottom: 1px dashed #333;
	padding-bottom: 15px;
	margin-bottom: 10px;
}
.single_menu_list h4 span {
	float: right;
	font-weight: bold;
	color: #FF5E18;
	font-style: italic;
}
p {
	font-weight: 300;
	font-size: 14px;
}
.menu_style1 .single_menu_list {
	text-align: center;
}
.single_menu_list:hover img {
	border-radius: 0;
	transition: .4s;
}

/*Event*/

.sec-title{
  font-size: 56px;
  font-weight: 300;
  letter-spacing: 0px;
  line-height: 1.4;
  font-family: "messsiri";
  color: #FF5E18;

}

/*Blog*/
#blog{
	background-color: #e1e7e8;
	font-family: "messsiri";

}

#blog p{
	font-family: "padauk";

}

#blog img {
	width:100%;
	height: 450px;

}

/*footer*/
.page-footer{
	font-family: "messsiri";
	background-color: #b1bab3;
}
footer .copyright {
  padding: 15px 0;
  background: #87877c;
  margin-top: 20px;
  font-size: 15px;
}

footer .copyright span {
  color: #c2c21b;
}

.par{
font-size: 25px;
font-family: "messsiri";

}

/*Contact us*/
.our-team-main
{
	width:100%;
	height:auto;
	border-bottom:5px #323233 solid;
	background:#fff;
	text-align:center;
	border-radius:10px;
	overflow:hidden;
	position:relative;
	transition:0.5s;
	margin-bottom:28px;
}


.our-team-main img
{
	border-radius:50%;
	margin-bottom:20px;
	width: 90px;
}

.our-team-main h3
{
	font-size:20px;
	font-weight:700;
}

.our-team-main p
{
	margin-bottom:0;
}

.team-back
{
	width:100%;
	height:auto;
	position:absolute;
	top:0;
	left:0;
	padding:5px 15px 0 15px;
	text-align:left;
	background:#fff;
	
}

.team-front
{
	width:100%;
	height:auto;
	position:relative;
	z-index:10;
	background:#fff;
	padding:15px;
	bottom:0px;
	transition: all 0.5s ease;
}

.our-team-main:hover .team-front
{
	bottom:-200px;
	transition: all 0.5s ease;
}

.our-team-main:hover
{
	border-color:#777;
	transition:0.5s;
}
