/**{
	font-family: "lobster1"; 
}
*/

p{
	font-family: "padauk";
}
h3{
	font-family: "lobster1";
	font-size: 6.85rem;
	font-weight: 300;

}
h1{
	font-family: "lobster1";
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
	line-height: 1.2;
	color: #0a2642;
	font-weight: 700;
}
#banner{
	background: linear-gradient(to bottom, 
		rgba(156,148,153,.7)0,
		rgba(156,148,153,.7)100%),
	url(images/foodevent.jpg);
	width: 100%;
	height: 100vh;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;

}
/*#banner nav div #navbarSupportedContent{
background-color: #783b37;
  position: fixed;
  top: -50px;
  width: 100%;
  display: block;
  transition: top 0.5s;
  font-family: "messsiri";
	
}*/
.col-12{
	font-family: "messsiri";

}
.navbar-brand{
	font-family: "lobster1"; 
	
}
.container-fluid{
	/*background-color: #783b37;*/
	background-image: url(images/mohinga2.png);
	background: rgba(127,102,255,0.88);
}


.blog .carousel-indicators {
	left: 0;
	top: auto;
    bottom: -40px;

}

/* The colour of the indicators */
.blog .carousel-indicators li {
    background: #a3a3a3;
    border-radius: 50%;
    width: 8px;
    height: 8px;
}

.blog .carousel-indicators .active {
background: #707070;
}
#image-hover:hover{
	border-color: rgba(51, 51, 51, 1);
	color: rgba(0,51,153,0.4);
	background-color: #CCFF00;

}







.timer_section
{
	
}
.timer_overlay
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	/*background: rgba(127,102,255,0.88);*/

}
.timer_container
{
	height: 197px;
	padding-left: 70px;
	padding-right: 70px;
}
.timer
{
	width: 100%;
	height: 100%;
}
.timer_num
{
	font-size: 72px;
	font-weight: 700;
	color: #ffffff;
	line-height: 0.75;
}
.timer_unit
{
	font-size: 18px;
	font-weight: 700;
	color: #ffffff;
	line-height: 0.75;
	margin-top: 18px;
}
.timer li
{
	position: relative;
	width: 25%;
}
.timer li:not(:last-of-type)::after
{
	display: block;
	position: absolute;
	top: 45%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	right: -6px;
	content: ':';
	font-size: 72px;
	font-weight: 700;
	color: rgba(10,38,66,0.3);
}




.composition {
  color: #fff;
  flex: 1 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  /*background: #6ca2b0;*/
}

.composition-wrapper {
  transform: translateZ(0);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.composition h1 {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0.5em;
  left: 0;
  margin: auto;
  height: 1em;
}

.title {
  font-size: 1.9em;
  text-transform: uppercase;
  letter-spacing: 0.5em;
  font-weight: 600;
}

.title .letter {
  display: inline-block;
  line-height: 1em;
}


#mainNav {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  background-color: #3c4f82;
  transition: background-color 0.2s ease;
}
#mainNav .navbar-nav .nav-item .nav-link:hover, #mainNav .navbar-nav .nav-item .nav-link:active {
  color: #f4623a;
}
#headertitle{
	margin-top: 4rem;
	color: #eeff33;
	
}
#divider{
	max-width: 15.25em;
	border-width: 0.2rem;
	border-color: #eeff33;

}
#headermain{
	padding: 1.25rem 2.25rem;
	font-size: 0.85rem;
	font-weight: 700;
	text-transform: uppercase;
	border:none;
	border-radius: 10rem;
	background-color: #f4623a;

}
#event-btn{
	padding: 0.25rem 2rem;
	font-size: 1rem;
	font-weight: 200;
	border:none;
	border-radius: 5rem;
	background-color: #f4623a;

}



}
.section-title p {
	font-size: 24px;
	font-family: Oleo Script;
	margin-bottom: 0px;
	margin-top:50px;
}
.section-title h4 {
	font-size: 40px;
	text-transform: capitalize;
	color: #FF5E18;
	position: relative;
	display: inline-block;
	padding-bottom: 25px;
}
.section-title h4::before {
	width: 80px;
	height: 1.5px;
	bottom: 0;
	left: 50%;
	margin-left: -40px;
}
.section-title h4::before, .section-title h4::after {
	position: absolute;
	content: "";
	background-color: #FF5E18;
}
.single_menu_list img {
	max-width: 30%;
	position: absolute;
	left: 0px;
	top: 0;
	border: 1px solid #ddd;
	padding: 3px;
	border-radius: 50%;
	transition: .4s;
}
.menu_style1 .single_menu_list img {
	position: static;
	width: 100%;
	display: block;
	margin: 0 auto;
	margin-bottom: 45px;
}
.single_menu_list h4 {
	font-size: 20px;
	border-bottom: 1px dashed #333;
	padding-bottom: 15px;
	margin-bottom: 10px;
}
.single_menu_list h4 span {
	float: right;
	font-weight: bold;
	color: #FF5E18;
	font-style: italic;
}
p {
	font-weight: 300;
	font-size: 14px;
}
.menu_style1 .single_menu_list {
	text-align: center;
}
.single_menu_list:hover img {
	border-radius: 0;
	transition: .4s;
}

.sec-title{
  font-size: 56px;
  font-weight: 300;
    letter-spacing: 0px;
    line-height: 1.4;
}


